doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='shortcut icon' href='favicon/favicon.ico')
  link(rel='stylesheet' href='css/style.bundle.css')
  title
header.header
  a.logo
    img(src='img/logo.svg' alt='')
  section.header__contacts
    .header__address
    .header__phone
    .header__phone
    .header__cart
    .callback
  ul.header__nav
    li
      a(href='')
    li
      a(href='')
    li
      a(href='')
    li
      a(href='')
    li
      a(href='')
    li
      a(href='')